.abilities .row {
    @include padding(10px, 10px, 10px, 10px);
}
.icon-service {
    font-size: 2em;
    color: $secondary-text-color;
    background-color: black;
    width: $service-icon-side;
    height: $service-icon-side;
    text-align: center;
    @include border-radius(5px);
}