.navbar {
    height: 400px;
    background: url('../img/maracas-lookout.jpg') no-repeat center;
    background-size: cover;
}
.nav {
    @include padding(50px, 0, 0, 50px);
}
.navbar-default {
    .navbar-brand {
        @include padding(65px, 100px, 0, 100px);
        color: $secondary-text-color;
        font-variant: small-caps;
        font-size: 1.3em;
    }
    .navbar-nav>li>a {
        color: $secondary-text-color;
        font-variant: small-caps;
        font-size: 1.3em;
    }
    .navbar-toggle .icon-bar {
        background-color: $secondary-text-color;
    }
}
.nav-header {
    text-align: center;
    color: $secondary-text-color;
}
.navbar-toggle {
    @include margin(40px, 0, 0, 80px);
}
nav h1 {
    @include padding(60px, null, null, null)
}
.contact-info, .glyphicon {
    line-height: 1.5em;
    color: $secondary-color;
    &:hover {
        // need to figure out how to select both selctors here!!!!!!!!
        color: complement($secondary-color);
        text-decoration: none;
    }
}