.list-left {
    list-style-type: none;
    width: 360px;
}
.list-right {
    float: right;
    position: relative;
    @include margin(-140px, null, null, null);
    list-style-type: square;
    text-align: left;
}