.work-gallery {
    margin: 30px auto 0 auto;
    color: #333;
    text-align: center;
/*    border: thin solid black;*/
}
.work-gallery h2 {
    font-size: 1.6em;
    font-variant: small-caps;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: thin solid #999;
    width: 45%;
    margin: 10px auto;
}
.work-row {
  /*  width: 100%;*/
    margin: 30px 1% 0 0;
/*    border: thin dashed black;*/
}

.work-row div {
 
}

.work-thumbnail {
    background-color: steelblue;
    margin: 10px;
    height: 150px;
    width: 175px;
}

a.thumbnail {

    background: none;
    border: none;
    height: 150px;
    width: auto;
}
a.thumbnail p {
    text-align: center;
    margin-top: 10px;
    font-size: 1.1em;
    color: #333;
    font-variant: small-caps;
}
/* =======================================================
    Hover overlay effect for thumbnails 
    ====================================================== */

.overlay {
    height: 150px;
    width: 175px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.fa-search {
    font-size: 2em;
    color: white;
    margin: 35% 40%;
}
.overlay:hover {
    -webkit-animation: on-hover .3s;
    /* Chrome, Safari, Opera */
    
    animation: on-hover .3s;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    
    animation-fill-mode: forwards;
}
@-webkit-keyframes on-hover {
    /*100% {background-color: rgba(160,160,160,.85);}*/
    
    100% {
        opacity: .7;
    }
}