/* center columns */
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}
/* main content sections */
.main-section {
    margin: 80px auto 110px auto;
}
/* main header section */
.section-head {
    margin-left: 80px;
    padding-bottom: 30px;
}
/* special grey sections */
.section-special {
    margin-top: 100px;
    background-color: $special-bg-color;
    height: auto;
    padding-top: 25px;
    padding-bottom: 50px;
    h1 {
        font-variant: small-caps;
        text-align: center;
    }
}
a:hover {
    color: complement($secondary-color)
}