/*resize elements*/

@media only screen and (max-width: 988px) {
    .section-head {
        margin-left: 0px;
        @include margin(null, null, null, 0px);
    }
    .footer {
        @include padding(null, null, 70px, 22px);
    }
}
@media only screen and (max-width: 767px) {
    .navbar-default .navbar-brand {
        @include padding(45px, null, null, 10%);
    }
    .navbar-toggle {
        @include margin(40px, 10%, 0, 80px);
    }
    .contact-info, .glyphicon {
        text-align: center;
        font-size: 1.2em;
        width: 200px;
    }
    .section-head {
        text-align: center;
        @include margin(null, null, null, 5%);
        width: 90%;
    }
    .main-section {
        @include margin(35px, auto, 35px, auto);
    }
    #about-img, .skill {
        @include margin(null, auto, null, auto);
    }
    .skillset {
        text-align: center;
        width: 90%;
        @include margin(45px, 0, 10px, 0);
        + p {
            width: 90%;
            @include margin(null, null, null, 5%);
            color: yellow;
        }
    }
    .social {
        width: 100%;
        overflow: hidden;
        @include padding(0, 0, 0, 0);
        ul {
            @include padding(30px, null, null, 0);
            list-style: none;
            position: relative;
            float: left;
            display: block;
            left: 50%;
            li {
                position: relative;
                float: left;
                display: block;
                right: 50%;
            }
        }
    }
    .stats {
        @include margin(60px, null, null, null);
        @include padding(20px, null, 40px, null);
        height: auto;
        text-align: center;
        h2 {
            font-size: 2em;
        }
    }
    .abilities {
        text-align: center;
        @include margin(null, null, 0, null);
    }
    .icon-service {
        @include margin(5px, null, 20px, null);
        font-size: 4em;
        width: 80px;
        height: 80px;
        text-align: center;
    }
    .status {
        @include margin(60px, null, null, null);
        @include padding(25px, null, 45px, null);
        height: auto;
        text-align: center;
    }
    .status-text {
        @include margin(auto, auto, auto, auto);
        width: 80%;
    }
    .list-left {
        width: 55%;
    }
    .customers {
        @include margin(60px, null, null, null);
        @include padding(null, null, 30px, null);
        height: auto;
    }
    .footer {
        .row {
            @include margin(null, null, null, 5%);
            width: 90%;
        }
        input, textarea {
            width: 100%;
            @include margin(null, 0, null, 0);
        }
        .glyphicon {
            width: auto;
            @include margin(5px, 0, 10px, null);
        }
        ul {
            @include margin(null, null, null, 5%);
        }
    }
    span {
        @include margin(0, 0, 0, 0);
        @include padding(0, 0, 0, 0);
    }
    .copyright {
        @include padding(0, 0, 0, 0);
        text-align: center;
    }
}