@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// null passed for no effect
@mixin margin($t, $r, $b, $l) {
  @if $t != null {margin-top: $t;}
  @if $r != null {margin-right: $r;}
  @if $b != null {margin-bottom: $b}
  @if $l != null {margin-left: $l}
}

// null passed for no effect
@mixin padding($t, $r, $b, $l) {
  @if $t != null {padding-top: $t;}
  @if $r != null {padding-right: $r;}
  @if $b != null {padding-bottom: $b}
  @if $l != null {padding-left: $l}
}

// gradient mixin funciton
@mixin create-skill-gradient($stop-val, $color-val) {
	background: $color-val;
    background: -moz-linear-gradient(left, $color-val 0%, $color-val $stop-val, $color-val $stop-val, #ffffff $stop-val, #f1f1f1 $stop-val, #f1f1f1 100%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, $color-val), color-stop($stop-val, $color-val), color-stop($stop-val, $color-val), color-stop($stop-val, #ffffff), color-stop($stop-val, #f1f1f1), color-stop(100%, #f1f1f1), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(left, $color-val 0%, $color-val $stop-val, $color-val $stop-val, #ffffff $stop-val, #f1f1f1 $stop-val, #f1f1f1 100%, #ffffff 100%);
    background: -o-linear-gradient(left, $color-val 0%, $color-val $stop-val, $color-val $stop-val, #ffffff $stop-val, #f1f1f1 $stop-val, #f1f1f1 100%, #ffffff 100%);
    background: -ms-linear-gradient(left,$color-val 0%, $color-val $stop-val, $color-val $stop-val, #ffffff $stop-val, #f1f1f1 $stop-val, #f1f1f1 100%, #ffffff 100%);
    background: linear-gradient(to right, $color-val 0%, $color-val $stop-val, $color-val $stop-val, #ffffff $stop-val, #f1f1f1 $stop-val, #f1f1f1 100%, #ffffff 100%);
}


